<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN"
                                         "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
 <session-factory>
  <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
  <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/MedicineDB?serverTimezone=UTC</property>
  <property name="hibernate.connection.username">root</property>
  <property name="hibernate.connection.password">12345678</property>
  <property name="hibernate.dialect">org.hibernate.dialect.MySQL5Dialect</property>
  <property name="hibernate.show_sql">true</property>
  <property name="hibernate.hbm2ddl.auto">update</property>
  <mapping class="com.neu.model.Customer"/>
  <mapping class="com.neu.model.Admin"/>
  <mapping class="com.neu.model.Product"/>
  <mapping class="com.neu.model.Cart"/>
 </session-factory>
</hibernate-configuration>
